@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Inria Sans', sans-serif;
}
.tituloCategorias{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
}
.carta {

    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 230px;
    height: 300px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.carta:last-child {
    justify-content: flex-end;
}

.carta-img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;


}
.carta-img{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 45%;

}


.carta-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
}

.carta-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
}

.carta-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
}

.carta-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carta-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
}

.carta-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
}

.carta-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
}

.carta-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
}

.carta-img:hover {
    transform: translateY(-3px);
}

.carta-btn:hover {
    border: 2px solid var(--main-focus);
}

.carta-btn:hover svg {
    fill: var(--main-focus);
}

.carta-btn:active {
    transform: translateY(3px);
}
