/* Footer Estilos Generales */
footer {
    background-color: #1e1e1e;
    color: #ffffff;
    bottom: 0px;
    position: relative; /* Asegúrate de que no esté fijo */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    padding: 20px 0; /* Espaciado interno */
    margin-top: 20px;
}

.row {
    margin-bottom: auto; /*Hace que el footer quede abajo si los elementos no ""completan"" la pantalla*/
}

footer h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

footer ul li i {
    margin-right: 10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ffcc00; /* Verde claro para hover */
}

/* Responsividad */
@media (max-width: 768px) {
    footer .row {
        text-align: center;
    }

    footer .row .col-md-4 {
        margin-bottom: 20px;
    }
}

footer p {
    font-size: 0.8rem;
    color: #bbbbbb;
    margin-top: 20px;
}
/* Ajustes para el nuevo ícono */
.custom-icon {
    width: 16px; /* Tamaño igual al de los íconos actuales */
    height: 16px;
    margin-right: 10px; /* Espaciado similar al de los íconos con la clase 'bi' */
    vertical-align: middle; /* Alineación con el texto */
    filter: invert(100%); /* Convierte el ícono a blanco para que coincida con los otros */
}

/* Hover (opcional, si deseas que cambie de color como los enlaces) */
.custom-icon:hover {
    filter: invert(50%) sepia(93%) saturate(748%) hue-rotate(93deg) brightness(93%) contrast(92%);
}
