.ofertas-deslizando {
    background-color: black;
    color: whitesmoke;
    overflow:hidden;
}
.ofertas-deslizando p {
    display: inline-block;
    animation: textoMov 5s linear infinite;
    white-space: nowrap;
    animation-timing-function: linear;

}
.logo {
    width: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: whitesmoke;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffcc00;
}

.input-group-text {
    background-color: whitesmoke;
    border: none;
    color: whitesmoke;
}

.input-group input {
    border: none;
    background: none;
    color: #fff;
    padding: 5px;
    width: 100%;
}

.input-group input:focus {
    outline: none;
    border-bottom: 2px solid #ffcc00;
}

.badge {
    font-size: 0.75rem;
}
@keyframes textoMov {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

