
.carta {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.carta:last-child {
    justify-content: flex-end;
}

.carta-img img {
    max-width: 40%;
    height: 40%;
    object-fit: contain;


}
.carta-img{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 45%;

}


.carta-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--font-color);
}

.carta-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
}

.carta-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
}

.carta-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.carta-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
}

.carta-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
}

.carta-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
    width: 200px;
}

.carta-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
}

.carta-img:hover {
    transform: translateY(-3px);
}

.carta-btn:hover {
    border: 2px solid var(--main-focus);
}

.carta-btn:hover svg {
    fill: var(--main-focus);
}

.carta-btn:active {
    transform: translateY(3px);
}

/* From Uiverse.io by Cybercom682 */
.number-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.number-quantity {
    padding: 0.25rem;
    border: 0;
    width: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 8px;
    margin-left: 10px;
}

.carta-secondTitle{
    font-size: 18px;
    font-weight:600;
    text-align: start;
    color: var(--font-color-sub);
}

.descripcion{
    text-align: center;
}
.Selector{
    margin-top: 50pxpx;
}
